@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Söhne", ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #565869;

}
::-webkit-scrollbar-track {
  background-color: #343541;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #acacbe;
}

body{
 @apply overscroll-none
}

.infoText{
  @apply p-3 px-6 md:px-3 bg-infoBackground rounded-lg md:max-w-[231px] hover:bg-infoHoverBackground hover:cursor-pointer text-center text-sm
}
.sideBarRow{
   @apply flex cursor-pointer flex-row items-center gap-3 rounded-md p-3 text-sm hover:bg-sideBarHighlight duration-200
}

